In [133]:
import pandera as pa
from pandera import DataFrameSchema
from pandera.typing import Series,DataFrame,Int64
import pandas as pd

In [ ]:
"C:\Users\thiag\Documents\BASE_SUSEP\Download_arquivo\Ses_ramos.csv"
"C:\Users\thiag\Documents\BASE_SUSEP\Download_arquivo\ses_gruposramos.csv"
"C:\Users\thiag\Documents\BASE_SUSEP\Download_arquivo\Ses_seguros.csv"
"C:\Users\thiag\Documents\BASE_SUSEP\Download_arquivo\SES_UF2.csv"
"C:\Users\thiag\Documents\BASE_SUSEP\Download_arquivo\Ses_campos.csv"
"C:\Users\thiag\Documents\BASE_SUSEP\Download_arquivo\SES_Balanco.csv"
"C:\Users\thiag\Documents\BASE_SUSEP\Download_arquivo\Ses_Dados_Cap.csv"

In [ ]:
  """
    Esquema de validação para DataFrames relacionados a apólices corporativas.

    Esta classe valida os dados de apólices corporativas, garantindo a consistência 
    dos tipos e a conformidade com as regras definidas.

    Attributes: 
        cd_apolice (Series[int]): Código identificador da apólice (obrigatório).
        nm_produto (Series[str]): Nome do produto associado à apólice (obrigatório).
        quantidade (Series[int]): Quantidade de itens associados à apólice (≥ 0).
        valor (Series[float]): Valor monetário associado à apólice (≥ 0.0).
        dt_emissao (Series[datetime]): Data de emissão da apólice (obrigatório).
        dv_documento_oficial (Series[bool]): Indicador se há documento oficial válido.
    """

    cd_apolice: Series[int] = pa.Field(ge=1, description="Código da apólice (≥ 1)")
    nm_produto: Series[str] = pa.Field(nullable=False, description="Nome do produto")
    quantidade: Series[int] = pa.Field(ge=0, description="Quantidade de itens (≥ 0)")
    valor: Series[float] = pa.Field(ge=0.0, description="Valor da apólice (≥ 0.0)")
    dt_emissao: Series[datetime] = pa.Field(description="Data de emissão da apólice")
    dv_documento_oficial: Series[bool] = pa.Field(description="Documento oficial válido (True/False)")

In [ ]:
class SchemaSesCias(pa.DataFrameModel):
    Coenti : Series[str] = pa.Field(nullable= True,description="Código da seguradora") 
    Noenti : Series[str] = pa.Field(nullable= True, description= "Nome da seguradora")

    class Config:
        coerce = True

class SchemaSesRamos(pa.DataFrameModel):
    coramo : Series[str] = pa.Field(nullable= True,description="Código do ramo")
    noramo : Series[str] = pa.Field(nullable= True, description= "Nome dramo")

    class Config:
        coerce = True

class SchemaSesGrupoRamo(pa.DataFrameModel):

    GRAID :Series[str]	 = pa.Field(nullable= True,description="Identificador")
    GRANOME	:Series[str] = pa.Field(nullable= True,description="Nome do Grupamento de ramos")
    GRACODIGO : Series[str] = pa.Field(nullable= True,description="Código do grupamento de ramos")

class SchemaSesSeguros(pa.DataFrameModel):

    damesano                             :Series[Int64] = pa.Field(nullable=True)
    coenti                               :Series[Int64] = pa.Field(nullable=True)
    cogrupo                              :Series[Int64] = pa.Field(nullable=True)
    coramo                               :Series[Int64] = pa.Field(nullable=True)
    premio_direto                        :Series[float] = pa.Field(nullable=True)
    premio_de_seguros                    :Series[float] = pa.Field(nullable=True)
    premio_retido                        :Series[float] = pa.Field(nullable=True)
    premio_ganho                         :Series[float] = pa.Field(nullable=True)
    sinistro_direto                      :Series[float] = pa.Field(nullable=True)
    sinistro_retido                      :Series[float] = pa.Field(nullable=True)
    desp_com                             :Series[float] = pa.Field(nullable=True)
    premio_emitido2                      :Series[float] = pa.Field(nullable=True)
    premio_emitido_cap                   :Series[float] = pa.Field(nullable=True)
    despesa_resseguros                   :Series[float] = pa.Field(nullable=True)
    sinistro_ocorrido                    :Series[float] = pa.Field(nullable=True)
    receita_resseguro                    :Series[float] = pa.Field(nullable=True)
    sinistros_ocorridos_cap              :Series[float] = pa.Field(nullable=True)
    recuperacao_sinistros_ocorridos_cap  :Series[float] = pa.Field(nullable=True)
    rvne                                 :Series[float] = pa.Field(nullable=True)
    conveniodpvat                        :Series[float] = pa.Field(nullable=True)
    consorciosefundos                    :Series[float] = pa.Field(nullable=True)

    class Config:
        coerce = True

class SesUf2(pa.DataFrameModel):
    """
    Esquema de validação para o arquivo SES_UF2.csv

    Esta classe valida os dados do arquivo, garantindo a consistência 
    dos tipos e a conformidade com as regras definidas.

    Attributes: 
        coenti       (Series[Int64]): Código da Empresa
        damesano     (Series[Int64]): Ano e mês da informação
        ramos        (Series[Int64]): Codigo do Ramo
        UF           (Series[str]): Unidade Federativa
        premio_dir   (Series[float]): Premios Diretos
        premio_ret   (Series[float]): Premios Retidos
        sin_dir      (Series[float]): Sinistros Diretos
        prem_ret_liq (Series[float]): Premios Retidos
        gracodigo    (Series[Int64]): Código do grupamento de ramos
        salvados     (Series[float]): Salvados de sinistros
        recuperacao  (Series[float]): Recuperações 
    """
  
    coenti        :Series[Int64]  = pa.Field(nullable=True)
    damesano      :Series[Int64]  = pa.Field(nullable=True)
    ramos         :Series[Int64]  = pa.Field(nullable=True)
    UF            :Series[str]   = pa.Field(nullable=True,description='Unidade Federativa do Risco')
    premio_dir    :Series[float] = pa.Field(nullable=True)
    premio_ret    :Series[float] = pa.Field(nullable=True)
    sin_dir       :Series[float] = pa.Field(nullable=True)
    prem_ret_liq  :Series[float] = pa.Field(nullable=True)
    gracodigo     :Series[Int64] = pa.Field(nullable=True)
    salvados      :Series[float] = pa.Field(nullable=True)
    recuperacao   :Series[float] = pa.Field(nullable=True)

    class Config:
        coerce = True 



class SesBalanco(pa.DataFrameModel):
    ''' 
    Esquema de validação para o arquivo SES_Balanco.csv

    Esta classe valida os dados do arquivo, garantindo a consistência 
    dos tipos e a conformidade com as regras definidas.
     
    '''
    coenti	 :Series[Int64]  = pa.Field(nullable=True,description='')
    damesano :Series[Int64]  = pa.Field(nullable=True,description='')	
    cmpid	 :Series[Int64]  = pa.Field(nullable=True,description='')
    valor	 :Series[float]  = pa.Field(nullable=True,description='')
    seq      :Series[Int64]  = pa.Field(nullable=True,description='')
    quadro   :Series[str]    = pa.Field(nullable=True,description='')

    class Config:
        coerce = True


class SchemaSesDadosCap(pa.DataFrameModel):
    ''' 
    Esquema de validação para o arquivo SES_Balanco.csv

    Esta classe valida os dados do arquivo, garantindo a consistência 
    dos tipos e a conformidade com as regras definidas.

    Attributes:

        coenti	        Series[Int64] : pa.Field(nullable=True,description='Ano e mês da informação')
        damesano	    Series[Int64] : pa.Field(nullable=True,description='Código da Empresa')
        codModal	    Series[Int64] : pa.Field(nullable=True,description='Código da modalidade')
        modalidade	    Series[str]   : pa.Field(nullable=True,description='Descrição da modalidade (Tradicional, Compra-Programada, Popular, Incentivo, Antes Circ 365 e Não Adequado, Filantropia Premiável, Instrumento de Garantia)')
        receitasCap	    Series[float] : pa.Field(nullable=True,description='Total de receitas')
        valorResg	    Series[float] : pa.Field(nullable=True,description='Total de resgates')
        sorteiosPagos   Series[float] : pa.Field(nullable=True,description='Total de sorteios pagos')
     
    
    '''
    coenti	            : Series[Int64] = pa.Field(nullable=True,description='Ano e mês da informação')
    damesano	        : Series[Int64] = pa.Field(nullable=True,description='Código da Empresa')
    codModal	        : Series[Int64] = pa.Field(nullable=True,description='Código da modalidade')
    modalidade	        : Series[str] = pa.Field(nullable=True,description='Descrição da modalidade (Tradicional, Compra-Programada, Popular, Incentivo, Antes Circ 365 e Não Adequado, Filantropia Premiável, Instrumento de Garantia)')
    receitasCap	        : Series[float] = pa.Field(nullable=True,description='Total de receitas')
    valorResg	        : Series[float] = pa.Field(nullable=True,description='Total de resgates')
    sorteiosPagos       : Series[float] = pa.Field(nullable=True,description='Total de sorteios pagos')


    class Config:
        coerce = True

class SchemaSesCapUf(pa.DataFrameModel):
    '''
    Esquema de validação para o arquivo ses_cap_uf.csv

    Esta classe valida os dados do arquivo, garantindo a consistência 
    dos tipos e a conformidade com as regras definidas.

    Attributes:
        COENTI       Series[Int64] : pa.Field(nullable=True,description='Código da Empresa')
        DAMESANO     Series[Int64] : pa.Field(nullable=True,description='Ano e mês da informação')
        UF           Series[str]   : pa.Field(nullable=True,description='Unidade Federativa')
        PREMIO       Series[float] : pa.Field(nullable=True,description='Prêmios (R$)')
        RESGPAGO     Series[float] : pa.Field(nullable=True,description='Resgates Pagos (R$)')
        SORTPAGO     Series[float] : pa.Field(nullable=True,description='Sorteios Pagos (R$)')
        NUMPARTIC    Series[float] : pa.Field(nullable=True,description='Média de Participantes no Período')
        RESGATANTES  Series[float] : pa.Field(nullable=True,description='Resgatantes')
        SORTEIOS     Series[float] : pa.Field(nullable=True,description='Sorteios')
    
    '''
    COENTI         : Series[Int64] = pa.Field(nullable=True,description='Código da Empresa')
    DAMESANO       : Series[Int64] = pa.Field(nullable=True,description='Ano e mês da informação')
    UF             : Series[str] = pa.Field(nullable=True,description='Unidade Federativa')
    PREMIO         : Series[float] = pa.Field(nullable=True,description='Prêmios (R$)')
    RESGPAGO       : Series[float] = pa.Field(nullable=True,description='Resgates Pagos (R$)')
    SORTPAGO       : Series[float] = pa.Field(nullable=True,description='Sorteios Pagos (R$)')
    NUMPARTIC      : Series[float] = pa.Field(nullable=True,description='Média de Participantes no Período')
    RESGATANTES    : Series[float] = pa.Field(nullable=True,description='Resgatantes')
    SORTEIOS       : Series[float] = pa.Field(nullable=True,description='Sorteios')

    class Config:
        coerce = True

class SchemaSesValoresMovRamos(pa.DataFrameSchema):
    '''
    Esquema de validação para o arquivo SES_ValoresMovRamos.csv

    Esta classe valida os dados do arquivo, garantindo a consistência 
    dos tipos e a conformidade com as regras definidas.

    coenti       Series[Int64] 
    damesano     Series[Int64] 
    cmpid        Series[Int64] 
    ramcodigo    Series[Int64] 
    gracodigo    Series[Int64] 
    valor        Series[Int64] 
    seq          Series[Int64] 
    quadro       Series[Int64] 



    '''


    coenti      : Series[Int64] = pa.Field(nullable=True,description='')
    damesano    : Series[Int64] = pa.Field(nullable=True,description='')
    cmpid       : Series[Int64] = pa.Field(nullable=True,description='')
    ramcodigo   : Series[Int64] = pa.Field(nullable=True,description='')
    gracodigo   : Series[Int64] = pa.Field(nullable=True,description='')
    valor       : Series[Int64] = pa.Field(nullable=True,description='')
    seq         : Series[Int64] = pa.Field(nullable=True,description='')
    quadro      : Series[Int64] = pa.Field(nullable=True,description='')


    class Config:
        coerce = True

In [ ]:

df_ses_cias = pd.read_csv(r"C:\Users\thiag\Documents\BASE_SUSEP\Download_arquivo\Ses_cias.csv",encoding='ISO-8859-1',sep=';')
df_ses_ramos = pd.read_csv(r"C:\Users\thiag\Documents\BASE_SUSEP\Download_arquivo\Ses_ramos.csv",encoding='ISO-8859-1',sep=';')
df_ses_grupo_ramo =pd.read_csv(r"C:\Users\thiag\Documents\BASE_SUSEP\Download_arquivo\ses_gruposramos.csv",encoding='ISO-8859-1',sep=';')
df_ses_seguros =pd.read_csv(r"C:\Users\thiag\Documents\BASE_SUSEP\Download_arquivo\Ses_seguros.csv",encoding='ISO-8859-1',sep=';',decimal=',')
df_ses_uf2  =pd.read_csv(r"C:\Users\thiag\Documents\BASE_SUSEP\Download_arquivo\SES_UF2.csv",encoding='ISO-8859-1',sep=';',decimal=',')
df_ses_campos =pd.read_csv(r"C:\Users\thiag\Documents\BASE_SUSEP\Download_arquivo\Ses_campos.csv",encoding='ISO-8859-1',sep=';')
df_ses_balanco   =pd.read_csv(r"C:\Users\thiag\Documents\BASE_SUSEP\Download_arquivo\SES_Balanco.csv",encoding='ISO-8859-1',sep=';',decimal =',')
df_ses_dados_cap    =pd.read_csv(r"C:\Users\thiag\Documents\BASE_SUSEP\Download_arquivo\Ses_Dados_Cap.csv",encoding='ISO-8859-1',sep=';',decimal =',')
df_ses_cap_uf = pd.read_csv(r"C:\Users\thiag\Documents\BASE_SUSEP\Download_arquivo\ses_cap_uf.csv",encoding='ISO-8859-1',sep=';',decimal =',')
df_ses_mov_ramos = pd.read_csv(r"C:\Users\thiag\Documents\BASE_SUSEP\Download_arquivo\SES_ValoresMovRamos.csv",encoding='ISO-8859-1',sep=';',decimal =',')
df_ses_mov_grupos =pd.read_csv(r"C:\Users\thiag\Documents\BASE_SUSEP\Download_arquivo\ses_valoresresmovgrupos.csv",encoding='ISO-8859-1',sep=';',decimal =',')

In [ ]:
class SchemaSesMovGrupos(pa.DataFrameModel):
    '''
    Esquema de validação para o arquivo ses_valoresresmovgrupos.csv

    Esta classe valida os dados do arquivo, garantindo a consistência 
    dos tipos e a conformidade com as regras definidas.

    Resseguros: Prêmios Ganhos  e Sinistros Retidos (Utilizar em conjunto com a tabela  ses_campos associando o CMPID - SES_VALORESRESMOVGRUPOS   com o NUITEM - SES_campos)

    Attributes:
        COENTI     Series[Int64] :'Código da Empresa'
        DAMESANO   Series[Int64] :'Ano e mês da informação'
        CMPID      Series[Int64] :'codigo do campo na tabela ses_campos'
        GRACODIGO  Series[Int64] :'Código do grupamento de ramos'
        VALOR      Series[Int64] :'Valor '
        ID         Series[Int64] :'Identificador'


    '''
    COENTI      : Series[Int64] = pa.Field(nullable=True,description='Código da Empresa')
    DAMESANO    : Series[Int64] = pa.Field(nullable=True,description='Ano e mês da informação')
    CMPID       : Series[Int64] = pa.Field(nullable=True,description='codigo do campo na tabela ses_campos')
    GRACODIGO   : Series[Int64] = pa.Field(nullable=True,description='Código do grupamento de ramos')
    VALOR       : Series[Int64] = pa.Field(nullable=True,description='Valor ')
    ID          : Series[Int64] = pa.Field(nullable=True,description='Identificador')

    class Config:
        coerce = True

In [162]:
df_ses_mov_grupos

         COENTI  DAMESANO  CMPID  GRACODIGO      VALOR        ID
0         38873    201103     63          7       0.00    416906
1         38873    201103     63          8       0.00    416907
2         38873    201103     64          7       0.00    416908
3         38873    201103     64          8       0.00    416909
4         38873    201103   1067          7       0.00    416910
...         ...       ...    ...        ...        ...       ...
6335493   38741    202412  13635         12       0.00  16125306
6335494   38741    202412  13635         13       0.00  16125307
6335495   38741    202412  13635         14  157536.25  16125308
6335496   38741    202412  13635         15       0.00  16125309
6335497   38741    202412  13635         17     210.83  16125310

[6335498 rows x 6 columns]

In [160]:
df_ses_mov_ramos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12245574 entries, 0 to 12245573
Data columns (total 8 columns):
 #   Column     Dtype
---  ------     -----
 0   coenti     int64
 1   damesano   int64
 2   cmpid      int64
 3   ramcodigo  int64
 4   gracodigo  int64
 5   valor      float64
 6   seq        int64
 7   quadro     int64
dtypes: float64(1), int64(7)
memory usage: 747.4 MB

In [149]:
df_ses_dados_cap

      coenti  damesano  codModal  ...   receitasCap     valorResg  sorteiosPagos
0      25429    202411         1  ...  6.673809e+07  4.077000e+07   4.405963e+05
1      21661    201907         3  ...  0.000000e+00  1.710189e+04   0.000000e+00
2      28932    201501         1  ...  5.084195e+07  4.733852e+07   1.747600e+04
3      29319    201705         1  ...  7.779912e+07  6.089878e+07   3.689236e+06
4      28878    202208         4  ...  6.593141e+05  3.675488e+05   9.984257e+04
...      ...       ...       ...  ...           ...           ...            ...
7060   23566    202107         1  ...  4.373889e+08  4.527094e+08   5.219593e+06
7061   21334    202212         4  ...  2.222973e+07  1.433164e+07   4.604971e+06
7062   25585    202405         1  ...  2.251515e+07  5.701334e+07   5.013861e+04
7063   24872    202310         4  ...  4.428346e+05  1.980662e+05   5.342168e+04
7064   25585    202310         7  ...  0.000000e+00  2.532733e+05   0.000000e+00

[7065 rows x 7 columns]

In [129]:
df_ses_uf2  =pd.read_csv(r"C:\Users\thiag\Documents\BASE_SUSEP\Download_arquivo\SES_UF2.csv",encoding='ISO-8859-1',sep=';',decimal=',')
df_ses_uf2

         coenti  damesano  ramos  ... gracodigo  salvados  recuperacao
0          6785    200811    435  ...         4       0.0          0.0
1          6921    200507    553  ...         5       0.0          0.0
2          8737    200511   1066  ...        10       0.0          0.0
3          6785    200501    977  ...         9       0.0          0.0
4          6785    200612    980  ...         9       0.0          0.0
...         ...       ...    ...  ...       ...       ...          ...
9068032    6947    202410    984  ...         9       0.0          0.0
9068033    6947    202410    118  ...         1       0.0          0.0
9068034    6947    202410    994  ...         9       0.0          0.0
9068035    6947    202410   1390  ...        13       0.0          0.0
9068036    6947    202410    116  ...         1       0.0          0.0

[9068037 rows x 11 columns]

In [130]:
df_ses_uf2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9068037 entries, 0 to 9068036
Data columns (total 11 columns):
 #   Column        Dtype
---  ------        -----
 0   coenti        int64
 1   damesano      int64
 2   ramos         int64
 3   UF            object
 4   premio_dir    float64
 5   premio_ret    float64
 6   sin_dir       float64
 7   prem_ret_liq  float64
 8   gracodigo     int64
 9   salvados      float64
 10  recuperacao   float64
dtypes: float64(6), int64(4), object(1)
memory usage: 761.0+ MB

In [106]:
schema_ramos = pa.infer_schema(df_ses_ramos)

In [109]:
schema_script = schema_ramos.to_script()
print(schema_script)

c:\PROJETOS_PYTHON\WS_SES_SUSEP\.venv\Lib\site-packages\stringcase.py:247: SyntaxWarning: invalid escape sequence '\W'
  return re.sub("\W+", "", string)

from pandera import DataFrameSchema, Column, Check, Index, MultiIndex

schema = DataFrameSchema(
    columns={
        "coramo": Column(
            dtype="int64",
            checks=[
                Check.greater_than_or_equal_to(
                    min_value=111.0, raise_warning=False, ignore_na=True
                ),
                Check.less_than_or_equal_to(
                    max_value=2293.0, raise_warning=False, ignore_na=True
                ),
            ],
            nullable=False,
            unique=False,
            coerce=False,
            required=True,
            regex=False,
            description=None,
            title=None,
        ),
        "noramo": Column(
            dtype="object",
            checks=None,
            nullable=False,
            unique=False,
            coerce=False,
            required=True,
            regex=False,
            description=None,
            title=None,
        ),
    },
    checks=None,
    index=Index(
        dtype="int64",
        checks=[
            Check.greater_than_or_equal_to(
                min_value=0.0, raise_warning=False, ignore_na=True
            ),
            Check.less_than_or_equal_to(
                max_value=159.0, raise_warning=False, ignore_na=True
            ),
        ],
        nullable=False,
        coerce=False,
        name=None,
        description=None,
        title=None,
    ),
    dtype=None,
    coerce=True,
    strict=False,
    name=None,
    ordered=False,
    unique=None,
    report_duplicates="all",
    unique_column_names=False,
    add_missing_columns=False,
    title=None,
    description=None,
)

In [102]:

schema_ramos = pa.infer_schema(df_ses_ramos).to_schema_model(class_name="schema_ses_ramos")

AttributeError: 'DataFrameSchema' object has no attribute 'to_schema_model'

In [90]:
try:
    schema_ses_cias.validate(df_ses_cias)
except Exception as e:
    print(e)

try:
    schema_ses_ramos.validate(df_ses_ramos)
except Exception as e:
    print(e)

In [165]:
import schemas
schemas.SesUf2.validate(df_ses_uf2)

         coenti  damesano  ramos  ... gracodigo  salvados  recuperacao
0          6785    200811    435  ...         4       0.0          0.0
1          6921    200507    553  ...         5       0.0          0.0
2          8737    200511   1066  ...        10       0.0          0.0
3          6785    200501    977  ...         9       0.0          0.0
4          6785    200612    980  ...         9       0.0          0.0
...         ...       ...    ...  ...       ...       ...          ...
9068032    6947    202410    984  ...         9       0.0          0.0
9068033    6947    202410    118  ...         1       0.0          0.0
9068034    6947    202410    994  ...         9       0.0          0.0
9068035    6947    202410   1390  ...        13       0.0          0.0
9068036    6947    202410    116  ...         1       0.0          0.0

[9068037 rows x 11 columns]